@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", monospace, sans-serif;
}

@keyframes phone-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes title-load {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes text-load {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes bg-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
body {
  height: 100svh;
  width: 100vw;
  background: url("./Secondary Files/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
@media (max-width: 915px) {
  body {
    height: 120svh;
  }
}
body main {
  background-color: rgb(14, 13, 13);
  width: 80%;
  margin: 75px 0px;
  border-radius: 25px;
  animation: 1s ease-in-out 0s 1 bg-load;
}
body main nav {
  margin-top: 25px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  animation: 1s ease-out 0s 1 text-load;
}
@media (max-width: 882px) {
  body main nav {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
body main nav .sign-up-title {
  text-decoration: underline;
}
body main nav .sections-container {
  color: rgb(154, 189, 169);
}
body main nav .sections-container ul {
  list-style: none;
  margin: 0px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1030px) {
  body main nav .sections-container ul {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
body main nav .sections-container ul li {
  float: left;
  font-weight: 300;
  cursor: pointer;
}
body main nav .sections-container ul li a {
  color: rgb(154, 189, 169);
  text-decoration: none;
}
body main nav .account-buttons .login-btn, body main nav .account-buttons .sign-up-btn {
  background-color: rgb(29, 120, 139);
  font-weight: 700;
  color: black;
}
body main nav .account-buttons .login-btn:hover, body main nav .account-buttons .sign-up-btn:hover {
  color: black;
}
body main .info-display {
  flex-direction: row;
  transform: translateY(30%);
}
@media (max-width: 915px) {
  body main .info-display {
    flex-direction: column;
    row-gap: 50px;
    margin-top: 25px;
    transform: translateY(0%);
  }
}
@media (max-height: 960px) {
  body main .info-display {
    transform: translateY(15%);
  }
}
@media (max-height: 854px) {
  body main .info-display {
    transform: translateY(5%);
  }
}
body main .info-display .info .information-details {
  animation: 1s ease-out 0s 1 title-load;
}
body main .info-display .info .information-details h1, body main .info-display .info .information-details h6 {
  color: rgb(154, 189, 169);
}
body main .info-display .info .information-details h1 {
  max-width: 15ch;
}
body main .info-display .info .information-details .download-btn {
  background-color: rgb(29, 120, 139);
  font-weight: 700;
  color: black;
}
body main .info-display .phone-display {
  width: 280px;
  height: 545px;
  background-color: rgb(27, 27, 27);
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  animation: 1s ease-out 0s 1 phone-load;
}
@media (max-width: 1052px) {
  body main .info-display .phone-display {
    width: 280px;
    margin-bottom: 25px;
  }
}
@media (max-width: 433px) {
  body main .info-display .phone-display {
    width: 100%;
  }
}
body main .info-display .phone-display .phone-background {
  margin-top: 2%;
  width: 97%;
  height: 531px;
  background-color: rgb(1, 22, 26);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.158) inset;
}
body main .info-display .phone-display .phone-background .header-items {
  color: white;
  font-size: 15px;
  opacity: 0.65;
}
body main .info-display .phone-display .phone-background .card-container {
  background-image: url("./Secondary Files/card-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
body main .info-display .phone-display .phone-background .card-container .card-info {
  font-size: 14px;
  color: rgb(154, 189, 169);
}
body main .info-display .phone-display .phone-background .card-container .card-info .cc-balance {
  font-weight: 700;
}
body main .info-display .phone-display .phone-background hr {
  width: 12%;
  border: dotted white 4px;
  border-bottom: none;
}
body main .info-display .phone-display .phone-background .spending-info .credit-limits, body main .info-display .phone-display .phone-background .spending-info .monthly-spend {
  background-color: rgb(29, 120, 139);
  border-radius: 10px;
  padding: 5px;
  width: 50%;
}
body main .info-display .phone-display .phone-background .spending-info .credit-limits p, body main .info-display .phone-display .phone-background .spending-info .monthly-spend p {
  font-size: 12px;
  margin-bottom: 5px;
  color: black;
  font-weight: 700;
}
body main .info-display .phone-display .phone-background .spending-info .credit-limits p span, body main .info-display .phone-display .phone-background .spending-info .monthly-spend p span {
  font-weight: 500;
  margin-right: 2px;
}
body main .info-display .phone-display .phone-background .spending-history {
  margin-top: 20px;
  width: 100%;
  color: rgb(154, 189, 169);
}
body main .info-display .phone-display .phone-background .spending-history h4 {
  margin: 20px 0px;
  font-size: 18px;
}
body main .info-display .phone-display .phone-background .spending-history .spends {
  width: 100%;
}
body main .info-display .phone-display .phone-background .spending-history .spends .location-time {
  font-size: 8px;
}
body main .info-display .phone-display .phone-background .spending-history .spends p {
  margin: 0px;
}
body main .info-display .phone-display .phone-background .spending-history .spends .spend-1, body main .info-display .phone-display .phone-background .spending-history .spends .spend-2, body main .info-display .phone-display .phone-background .spending-history .spends .spend-3 {
  font-size: 14px;
  width: 100%;
  row-gap: 24px;
}
body main .info-display .phone-display .phone-background .spending-history .spends .spend-1 .transaction-image, body main .info-display .phone-display .phone-background .spending-history .spends .spend-2 .transaction-image, body main .info-display .phone-display .phone-background .spending-history .spends .spend-3 .transaction-image {
  display: flex;
  flex-direction: row;
  background-color: rgb(29, 120, 139);
  padding: 2px 8px;
  height: 3svh;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 16px;
}/*# sourceMappingURL=styless.css.map */