@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', monospace, sans-serif;
}

$button-color: rgba(29,120,139,255);
$text-color: rgba(154,189,169,255);
$div-color: rgba(29,120,139,255);

@keyframes phone-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes title-load {
  0% {
    transform: translateY(100%)
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes text-load  {
  0% {
    transform: translateX(-100%)
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes bg-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

body {
  height: 100svh;
  width: 100vw;
  background: url('../Secondary Files/bg-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;

  @media (max-width: 915px) {
    height: 120svh;
  }

  main {
    background-color: rgb(14, 13, 13);
    width: 80%;
    margin: 75px 0px;
    border-radius: 25px;
    animation: 1s ease-in-out 0s 1 bg-load;

    nav {
      margin-top: 25px;
      column-gap: 30px;
      animation: 1s ease-out 0s 1 text-load;

      @media (max-width: 882px) {
        column-gap: 10px;
      }

      .sign-up-title {
        text-decoration: underline;
      }
  
      .sections-container {
        color: $text-color;
        
        ul {
          list-style: none;
          margin: 0px;
          column-gap: 30px;

          @media (max-width: 1030px) {
            column-gap: 10px;
          }
  
          li {
            float: left;
            font-weight: 300;
            cursor: pointer;
            a {
              color: $text-color;
              text-decoration: none;
            }
          }
        }
      }
  
      .account-buttons {
  
        .login-btn, .sign-up-btn{
          background-color: $button-color;
          font-weight: 700;
          color: black;
        }
        .login-btn:hover, .sign-up-btn:hover {
          color: black;
        }
      }
    }

    .info-display {
      flex-direction: row;
      transform: translateY(30%);

      @media (max-width: 915px) {
        flex-direction: column;
        row-gap: 50px;
        margin-top: 25px;
        transform: translateY(0%);
      }

      @media (max-height: 960px) {
        transform: translateY(15%);
      }

      @media (max-height: 854px) {
        transform: translateY(5%);
      }

      .info {

        .information-details {
          animation: 1s ease-out 0s 1 title-load;

          h1, h6 {
            color: $text-color;
          }
        
          h1 {
            max-width: 15ch;
          }

          .download-btn {
            background-color: $button-color;
            font-weight: 700;
            color: black;
          }
        }
      }

      .phone-display {
        width: 280px;
        height: 545px;
        background-color: rgb(27, 27, 27);
        box-shadow: 20px 20px 10px rgba(0,0,0,0.7);
        border-radius: 10px;
        animation: 1s ease-out 0s 1 phone-load;

        @media (max-width: 1052px) {
          width: 280px;
          margin-bottom: 25px;
        }

        @media (max-width: 433px) {
          width: 100%;
        }

        .phone-background {
          margin-top: 2%;
          width: 97%;
          height: 531px;
          background-color: rgb(1, 22, 26);
          border-radius: 10px;
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.158) inset;

          .header-items {
            color: white;
            font-size: 15px;
            opacity: 0.65;
          }

          .card-container {
            background-image: url('./Secondary Files/card-bg.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;

            .card-info {
              font-size: 14px;
              color: $text-color;

              .cc-balance {
                font-weight: 700;
              }
            }
          }

          hr {
            width: 12%;
            border: dotted white 4px;
            border-bottom: none;
          }

          .spending-info {
          
            .credit-limits, .monthly-spend {
              background-color: $div-color;
              border-radius: 10px;
              padding: 5px;
              width: 50%;
              
              p {
                font-size: 12px;
                margin-bottom: 5px;
                color: black;
                font-weight: 700;

                span {
                  font-weight: 500;
                  margin-right: 2px;
                }
              }
            }
          }
          
          .spending-history {
            margin-top: 20px;
            width: 100%;
            color: $text-color;
            
            h4 {
              margin: 20px 0px;
              font-size: 18px;
            }
            
            .spends{ 
              width: 100%;

              .location-time {
                font-size: 8px;
              }

              p {
                margin: 0px;
              }

              .spend-1, .spend-2, .spend-3 {
                font-size: 14px;
                width: 100%;
                row-gap: 24px;

                .transaction-image {
                  display: flex;
                  flex-direction: row;
                  background-color: $div-color;
                  padding: 2px 8px;
                  height: 3svh;
                  border-radius: 20px;
                  text-align: center;
                  justify-content: center;
                  align-items: center;
                  color: black;
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
}